<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Protocols" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="4.1.0" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Owin.Authentication" version="9.1.0" targetFramework="net48" developmentDependency="true" />
</packages>