@using System.Web.Mvc
@using System.Web.Mvc.Html

<div>
    @{
        if (Sitecore.Current.User.IsAuthenticated) 
		{
			using (Html.BeginForm(null, null, FormMethod.Post, new { action = ViewBag.SignOutUrl }))
			{
				<button type='submit'>
					Logout
				</button>
			}
		}
    }
</div>