<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <settings>
      <setting name="Foundation.Auth0InSitecore.Auth0Domain" value="{YOUR_AUTH0_DOMAIN}" />
      <setting name="Foundation.Auth0InSitecore.Auth0ClientId" value="{YOUR_AUTH0_CLIENTID}" />
      <setting name="Foundation.Auth0InSitecore.Auth0ClientSecret" value="{YOUR_AUTH0_CLIENTSECRET}" />
      <setting name="Foundation.Auth0InSitecore.Auth0RedirectUri"  env:require="Local" value="YOUR_AUTH0_REDIRECT_URI" />
      <setting name="Foundation.Auth0InSitecore.Auth0PostLogoutRedirectUri" env:require="Local" value="YOUR_POST_LOGOUT_REDIRECT_URI" />
    </settings>
  </sitecore>
</configuration>